﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
	<header>
		<partial name="_Navbar.cshtml" />
	</header>

	<main class="main">
		<div class="middle-content-container">
			@RenderBody()
		</div>
	</main>

	<footer class="border-top box-shadow">
		<partial name="_FooterContent.cshtml" />
	</footer>
</body>
</html>
