@model LoginUserWebModel
@{
	ViewData["Title"] = "Login";
}

<form asp-controller="Account" asp-action="Login" method="post">
	<input type="text" asp-for="Username" placeholder="Username">
	<span asp-validation-for="Username" class="form-error"></span>

	<input type="password" asp-for="Password" placeholder="Password">
	<span asp-validation-for="Password" class="form-error"></span>

	<input type="submit">

	@if (Model != null)
	{
		<p class="form-error">
			Invalid credentials or account doesn't exist!
		</p>
	}
</form>


