@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model UserWebModel
@{
	ViewData["Title"] = Model.Username + "'s Profile";
}

<p>
	<h2>
		@Model.FirstName @Model.LastName
	</h2>
	<div>
		@Model.Username
	</div>
	@if (SignInManager.IsSignedIn(User))
	{
		@if(UserManager.GetUserName(User) == Model.Username)
		{
			<br>

			<form asp-controller="Account" asp-action="Edit" method="get">
				<input type="submit" value="Edit Profile">
			</form>

			<form asp-controller="Account" asp-action="Delete" method="post">
				<input type="submit" value="Delete Profile">
			</form>
		}
	}
</p>
